@import '../../../assets/sass/variables';
@import '../../../assets/sass/functions';
.card{
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.padding{
    padding :60px 0;
}
.line{
    @extend %line;
}
.rating{
    @extend %rating;
}

    h1{
        color: $mainColor;
        @extend %boldsegoe ;
    }
    .artdeal{
        background: $bgColor;
        .artdeal-content{
            h3{
                color: #737373;
            }
            p{
                color: $fontcolor;
                @extend %regularsegoe;
                font-size: 0.8rem;
                line-height: 1.2rem;
            }
            button,.btn{
                @include button;
                text-transform: uppercase;
                @include rounded;
                background: $mainColor;
            }
        }
    }
    .w-70{
        width: 70%;
    }
// ART SECTION
section.arts{
    padding: 10px 0;
    div.media{
        background: $secondaryColor !important;
        color: white;
        img{
            width: 50%;
            margin: 20px;
        }
        .media-body{
            margin-top: 20px;
            margin-right: 20px;
            @include typoStyle($RalewayFont,0.8rem)
        }
    }
}
.card-bg{

    .border-right{
        border-right:3px solid $secondaryColor !important;
    }
    h5{
        color: $mainColor;
        @extend %boldsegoe
    }
    p{
        color: $fontcolor;
        @extend %regularsegoe;
        font-size: 0.9rem;
        line-height: 22px;
    }
}
// CONTACT US
.contact{
    background: #dfdddd;
    input{
        width: 100%;
        border: none;
        background: white;
        padding: 0.2rem 2%;
    }


}

