
@import '../../../../assets/sass/variables';
@import '../../../../assets/sass/functions';

.line{
    @extend %line;
}
h2{
    @extend %title;

}
.w-70{
width:70%
}
.w-80{
    width:80%

}
.media{
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    padding: 30px 50px;
    border-radius: 0;   
     .img-bg{
      @extend %img-bg;

    }
    .btn{
        @extend %btn;
        background: $mainColor;
        border-radius: 10px;
        padding: 0.3 1.4rem;
    }
    .rating{
        @extend %rating;
    }
    h6{
        @extend %regularOpenSans;
        color: $fontcolor;
    }
}