@import '../../../assets/sass/variables';
@import '../../../assets/sass/functions';


    .btn{
        @extend %btn;
        background: $mainColor;
        padding: 10px 25px;
        }
.media{
    img{
        // width: 106px;
        border-radius: 25px;
    }
    h5{
        color: $mainColor;
        @extend %regularOpenSans;
        font-weight: bold;
    }
}