<app-navbar></app-navbar>
<div class="container">
   <!-- <h1> {{freelancer.photo}}</h1> -->
   <!-- <p>{{freelancer.photo}}</p> -->
</div>
<h1>portofolio</h1>
<!-- <div class="container">
    <div class="row" *ngFor="let freelancerproject of freelancer.projects">
        <div class="col-md-4">
            <h2>{{freelancerproject.projectName}}</h2>
            <p>{{freelancerproject.ProjectDescription}}</p>
            <h3>{{freelancerproject.rate}}</h3>
        </div>
    </div>
</div> -->
<app-footer></app-footer>