<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12 s6 offset-s3">
      <div class="card mb-5 mt-5">
          <img src="/assets/images/403.png" class="img-fluid">
        <div class="card-content text-center mt-5">
          <span class="card-title" style="color:#039be5">403 - ACCESS DENIED</span>
          <p>You don't have the permission to access this resource.</p>
        </div>
      </div>
    </div>
  </div>
</div>
