
@import '../../../assets/sass/variables';
@import '../../../assets/sass/functions';
.postjob{
    background: url("../../../assets/images/postjobbg.png");
    h6{
        @extend %title;
    }
    .line{
        @extend %line;
    }
    .rating{
        @extend %rating
    }
}
.grey{
    font-size: 14px;
    color: red
}
mat-icon{
    color: $mainColor
}
input{
    width: 45%;
    outline: none;
    &:active{
        cursor: pointer;

    }
    &:focus{
       cursor: pointer;
    }
    cursor: pointer;
}
input::placeholder{
    color: white
}
section{
    .btn{
        @extend %btn;
        background: $mainColor;
    }
    mat-raised-button{
        span{
            font-size: 12px;
        }

    }
    .w-70{
        padding: 30px 40px;
        background: white;
        box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);

    }
    h5{
        @extend %title;
    }
    p{
        @extend %regularOpenSans;
    }
    i{
        color:$mainColor;
    }
}