// VARIABLES

// ================vendors================

$vendors: "-moz-", "-webkit-", "-o-", "-ms-", ""; 

//=================FONTCOLORS==============

$fontcolor : #707070;
$iconsColor:#4b4b4b;

//================MAINCOLORS===============
// $mainColor:#991D1D;
$secondaryColor:#0BAEAD;
$mainColor:#014181;
$footerBgColor:#161616;
$bgColor:#f8f8f8;

//==============FONT FAMILY================
// @font-face {
//     font-family: segoeui;
//     src: url(../../../assets/fonts/segoeui.ttf) format("opentype");
// }
$openSansFont: 'Open Sans', sans-serif;
// $segoeuiFont:  'segoeui.ttf';
$segoeuiFont:  'Open Sans';


//=============images paths================
$recentpro1:'../images/HOME/recentproj1.jpg';
$recentpro2:'../images/HOME/recentproj2.jpg';


